.about-us-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 20px;
  place-items: start;
}

.about-us-title {
  grid-row: 1;
  grid-column: 2;
  font-size: xx-large;
  margin-bottom: 10px;
  margin-top: 50px;
}

.hi-there {
  grid-row: 3;
  grid-column: 2;
  font-size: 20px;
  font-weight: 600;
}

.information-outerbox {
  grid-row: 3;
  grid-column: 2 / span 3;
}

.about-us-text {
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
}

.our-values-header {
  grid-row: 4;
  grid-column: 2;
  font-size: 20px;
  font-weight: 600;
}

.our-values-content {
  grid-row: 5;
  grid-column: 2 / span 3;
}

.about-us-image {
  grid-row: 6;
  grid-column: 2;
  width: 500px;
  height: 500px;
}
