.change-password-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Match the structure in PrivacyAndSafety.css */
    grid-template-rows: auto; /* Define rows as needed */
    grid-gap: 20px;
    place-items: start;
}

.sidebar-content {
    grid-column: 1; /* Sidebar in the first column */
    /* Additional sidebar styles */
}

.change-password-main-content {
    grid-column: 2 / 4; /* Span second and third columns */
    /* Additional main content styles */
}
