.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: 50px 50px 1fr 50px;
  grid-gap: 20px; /* Gap between grid items */
  place-items:  center;
}

.FeedContent{
  grid-column: 2;
  grid-row: 3;
}

.feedNav {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  align-self: center;
}

.header{
  grid-row: 1;
  grid-column: 1 / span 3;
}

.footer{
  grid-row: 4;
  grid-column: 1 / span 3;
}