.my-posts-main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
  place-items: center;
}

#your-post-title {
  grid-row: 2;
  grid-column: 2;
}

#stats {
  grid-row: 3;
  grid-column: 2;
}

.feed-content {
  grid-row: 4;
  grid-column: 2;
}

#your-post-title{
  font-size: xx-large;
}