.main-content-trending-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px;
}

.feed-content {
  grid-column: 2;
  grid-row: 4;
}

.feed-nav {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.trending-block {
  display: inline-block;
  grid-row: 3 / span 4;
  grid-column: 1;
  align-self: start;
  justify-self: right;
}

.write-post {
  grid-column: 2;
  grid-row: 3;
}

.header {
  grid-row: 1;
  grid-column: 1 / span 3;
}
