.account-information {
  border-radius: 10px;
  border: solid 1px hsl(242, 22%, 51%);
  background-color: hsl(242, 18%, 27%);
  color: hsl(240, 25%, 98%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.account-information h2,
.two-factor-authentication h2,
.delete-account h2 {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.show-information {
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 30%, 42%);
  margin-left: 10px;
  height: 30px;
  width: 50px;
  font-size: small;
  margin-top: 10px;
  border-radius: 5px;
  color: hsl(240, 25%, 98%);
}

.show-information:hover {
  background-color: hsl(152, 93%, 65%, 0.8);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
