.add-comment-button{
    height: 40px;
    width: 150px;
    border: 1px solid white;
    background-color: #212034;
    border-radius: 10px; 
    padding: 2px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.add-comment-button:hover{
    background-color: #444267;
}
