.iconAndText {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconAndText:hover {
  color: hsl(152, 93%, 65%);
}

.iconAndText .fa-mug-hot.liked,
.iconAndText:hover .fa-mug-hot {
  color: hsl(152, 93%, 65%);
}

.iconAndText:hover .iconText {
  color: hsl(152, 93%, 65%);
}

.iconAndText .fa-mug-hot.liked + .iconText {
  color: hsl(152, 93%, 65%);
}

.iconLink {
  color: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.iconLink:hover .iconText {
  color: hsl(152, 93%, 65%);
}
