.iconAndText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconAndText:hover{
  color: hsl(152, 93%, 65%);
}

.iconAndText:hover .fa-mug-hot,
.iconAndText .fa-mug-hot.liked  {
  color: hsl(152, 93%, 65%);
}

.iconAndText:hover .iconText {
  color: hsl(152, 93%, 65%);
}

.iconLink {
  color: #fafafc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.iconLink:hover, .iconText:hover{
  color: hsl(152, 93%, 65%);
}
