.writeComment {
    width: 600px;
    gap: 10px;
    margin-top: 30px;
    border-radius: 10px;
    border: solid 1px #68669D;
    background-color: #393851;
    margin-left: auto;
    margin-right: auto;
}


#comments {
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    background-color: #393851;
    border: none;
    border-radius: 10px;
    padding: 30px;
    color: white;
    z-index: 3;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    resize: none;
}

.commentBorder {
    display: flex;
    flex-direction: row;
    width: 97,1%;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 15px;
    background-color: hsl(245, 21%, 22%);
    border-radius: 0 0 10px 10px;
    border-top: none;
}


.commentIcons {
    display: flex;
    font-size: 110%;
    gap: 26px;
    color: white;
    align-items: center;
}

.commentIcons i:hover {
    color: hsl(152, 93%, 65%);
}

.postComment {
    padding-left: 490px;
    color: white;
}

.postComment:hover {
    color: hsl(152, 93%, 65%);
}