.feedNav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  #discoverFeedNav {
    width: 320px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom: 2px solid #50F9AB;
  }
  
  #trendingFeedNav {
    width: 320px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom: 2px solid #AAA6E5;
  }
  
  .navTextDiscover {
    color:#50F9AB;
    font-size: 16px;
    padding-left: 8px;
    font-weight: bold;
  }
  
  .navTextTrending {
    color:#AAA6E5;
    font-size: 16px;
    padding-left: 8px;
    font-weight: bold;
  }
  
  .iconLinkTrendingNav {
    color:#AAA6E5;
    align-self: center;
    justify-self: center;
  }
  
  .iconLinkDiscoverNav {
    color: #50F9AB;
    align-self: center;
    justify-self: center;
  }