.feedNav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#discoverFeedNav {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #50f9ab;
}

#trendingFeedNav {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #aaa6e5;
}

.navTextDiscover {
  font-size: 16px;
  padding-left: 8px;
  font-weight: bold;
}

.navTextTrending {
  font-size: 16px;
  padding-left: 8px;
  font-weight: bold;
}

.fa-regular,
.fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Updated styles for active and normal links */
.activeLink #discoverFeedNav,
.activeLink .navTextDiscover,
.activeLink .subdiv{
  color: #50f9ab;
}

.navLink #trendingFeedNav,
.navLink .navTextTrending,
.navLink .subdiv {
  color: #aaa6e5;
}
