/* ButtonAndText.css */

.iconAndText {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the icon when hovered */
.iconAndText:hover .fa-mug-hot {
  color: hsl(152, 93%, 65%);
}

/* Style for the text when hovered */
.iconAndText:hover .iconText {
  color: hsl(152, 93%, 65%);
}

.iconAndText .fa-mug-hot.liked {
  color: hsl(152, 93%, 65%);
}

.iconLink {
    color: #fafafc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
 