#filter {
    background-color: #212034;
    width: 600px;
    font-size: 12px;
}

#filter label {
    font-weight: bold;
    margin-right: 6px;
}

#filter select {
    background-color: #393851;
    color: #FAFAFC; 
    border: 1px solid #565481;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    appearance: none; 
    cursor: pointer;
    margin-right: 30px;
}

#filter select option {
    background-color: #393851;
    color: #FAFAFC;
}

#filter select:hover {
    background-color: #50F9AB;
    color: #393851;
}