.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #131227 transparent transparent transparent;
  }

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #131227;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
