.sidebar-nav {
    width: 210px; 
    border-right: solid 1px #68669D; 
    background-color: #212034;
    color: #FAFAFC;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    grid-row: 3 / span 4;
    grid-column: 1;
    align-self: start;
    justify-self: end;
    padding-right: 10px;
}

.sidebar-nav ul {
    display: block;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidebar-nav li {
    margin: 0; 
    padding: 7px 0 7px 0;
    font-weight: 400;
    margin-left: 5px;
}

.sidebar-nav a {
    text-align: left;
    display: block;
    color: #FAFAFC;
    text-decoration: none;
    transition: 0.05s ease-in-out;
}

.sidebar-nav a:hover {
    background-color: #393851;
    border-radius: 5px;
    text-decoration: none; 
}

.sidebar-nav h3 {
    margin-bottom: 12px;
    margin-left: 5px;
    font-size: 22px;
}

.about-us {
    margin-top: 40px;
}