.sidebar-nav {
    position: absolute;
    margin-top: 90px;
    height: 82%;
    padding: 50px;
    padding-left: 180px; 
    width: 170px;
    border-right: solid 1px #68669D;
    background-color: #212034;
    text-decoration: none; 
    color: #FAFAFC;
}

#userSetting, #appSetting{
    padding-bottom: 40px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin: 0; 
}

.sidebar-nav a {
    color: #FAFAFC;
    display: block; 
    padding: 7px 0; 
    font-weight: lighter;}

.sidebar-nav a:hover {
    color: #aaa6e5; 
    text-decoration: none;
}
