.sidebar-nav {
    position: absolute;
    top: 60px; 
    left: 325px;
    height: calc(100vh - 20px); 
    padding: 10px 20px 10px 0px; 
    width: 300px; 
    border-right: solid 2px #68669D; 
    background-color: #212034;
    color: #FAFAFC;
    display: flex;
    flex-direction: column;
    justify-content: start; 
}

.sidebar-nav ul {
    display: block;
    text-align: left;
    padding-left: 10px; /* Make sure there is no padding on the left */
}

/* Ensure the individual links are also aligned properly */
.sidebar-nav a {
    text-align: left;
    display: block;
    padding: 10px; /* Add padding to each link for better spacing */
    color: #FAFAFC; /* Color of the links */
    text-decoration: none; /* No underline */
}

.sidebar-nav a:hover {
    color: #aaa6e5; /* Hover color */
    text-decoration: none; /* Still no underline */
}

.sidebar-nav h3 {
    padding: 0;
    margin: 0 0 10px 0; /* Adjust the margin as needed */
    color: #ffffff; /* Color of the headers */
    font-size: 1.2rem; /* Size of the headers */
    
}
#userSetting li:last-child {
    margin-bottom: 30px; 
}

