.writePost {
  width: 640px;
  gap: 10px;
  border-radius: 10px;
  border: solid 1px hsl(241, 22%, 51%);
  background-color: hsl(242, 18%, 27%);
  margin-left: auto;
  margin-right: auto;
}

#post {
  box-sizing: border-box;
  width: 100%;
  background-color: hsl(242, 18%, 27%);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  z-index: 3;
  resize: none;
}

#title {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: hsl(242, 18%, 27%);
  border-radius: 10px 10px 0px 0px;
  border-bottom: solid 1px hsl(242, 22%, 51%);
  padding-top: 12px;
  padding-left: 20px;
  z-index: 3;
  resize: none;
}

.postBorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 15px;
  background-color: hsl(245, 21%, 22%);
  border-radius: 0 0 10px 10px;
}

.postIcons {
  display: flex;
  gap: 26px;
  cursor: pointer;
}

.postIcons i:hover,
.postPost i:hover {
  color: hsl(152, 93%, 65%);
}

textarea {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#moods {
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-top: 5px;
  border-bottom: solid 1px hsl(242, 22%, 51%);
}

#moods label {
  font-weight: bold;
  padding-right: 6px;
}

#moods select {
  background-color: #393851;
  color: #fafafc;
  border: 1px solid #565481;
  padding: 4px;
  border-radius: 5px;
  width: 200px;
  appearance: none;
  cursor: pointer;
  margin-right: 30px;
  transition: 0.1s ease-in-out;
}

#moods select option {
  background-color: #393851;
  color: #fafafc;
}

#moods select:hover {
  background-color: #50f9ab;
  color: #393851;
}

.postPost {
  cursor: pointer;
}

#title::placeholder,
#post::placeholder {
  color: #68679e;
}
