/* ------------------- FONTS ------------------- */

h1 {
  font-size: 20px;
  color: hsl(240, 25%, 98%);
}

h2 {
  font-size: 18px;
  color: hsl(240, 25%, 98%);
}

p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 2%;
  color: hsl(240, 25%, 98%);
}


textarea::placeholder {
  font-size: 14px;
}

/* -------------------- ALL -------------------- */

:root {
  color: hsl(240, 25%, 98%);
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height:100%;
  background-color: #212034;
  height: 100vh;
}